rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only authenticated administrator can create or update invoices
    match /invoices/{invoiceId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }
  }
}
